/* For desktop:min-width-992px */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* nabar design start */
.navbar{
    height: 100px;
}
.nav-logo{
  text-align: left;
   
   
}


.navbar-menu{
    padding: 10px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    background-color: transparent;
}

/* navbar design end */

/* main design start */
.banar{
    position: relative;
    height: 100vh;
}
.ban1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ban1 h1{
    width: 700px;
    font-size: 3.5rem;
}
.ban1 p{
    width: 500px;
    font-size: 2rem;
}



/* main design end */


/* footer start */
footer p{
    margin-top: 20px;
    font-size: 1rem;
    text-align: left;
}
.social-menu{
    margin-top: 20px;
    
}


/* footer ends */
